<div class="bg-gray-900">
  <header>
    <!-- lg+ -->
    <div class="bg-gray-900">
      <div class="px-4 mx-auto sm:px-6 lg:px-8">
        <nav class="relative flex items-center justify-between h-16 lg:h-20">
          <div class="hidden lg:flex lg:items-center lg:space-x-10">
            <a
              href="#Skills"
              title=""
              class="text-base font-medium text-white hover:text-blue-600"
            >
              Skills
            </a>

            <a
              href="#Experience"
              title=""
              class="text-base font-medium text-white hover:text-blue-600"
            >
              Experience
            </a>

            <a
              href="#Work"
              title=""
              class="text-base font-medium text-white hover:text-blue-600"
            >
              Work
            </a>
          </div>

          <button
            type="button"
            class="inline-flex p-2 ml-auto text-blue-600 transition-all duration-200 rounded-md lg:hidden"
            (click)="showMenu()"
          >
            <svg
              class="w-6 h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
          </button>

          <div class="hidden lg:flex lg:items-center lg:space-x-10">
            <a
              href="#Contact"
              title=""
              class="flex items-center justify-center h-10 text-white bg-blue-600 font-medium p-4 rounded-full"
            >
              Contact
            </a>
          </div>
        </nav>
      </div>
    </div>

    <!-- xs to lg -->
    <nav class="py-4 bg-gray-900 lg:hidden" *ngIf="Menu">
      <div class="px-4 mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center justify-between">
          <p
            class="text-sm font-semibold tracking-widest text-blue-500 uppercase"
          >
            Menu
          </p>

          <button
            type="button"
            class="inline-flex p-2 text-blue-600 transition-all duration-200 rounded-md"
            (click)="hideMenu()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>

        <div class="mt-6">
          <div class="flex flex-col space-y-2">
            <a
              href="#Skills"
              title=""
              class="py-2 text-base font-medium transition-all duration-200 text-white"
            >
              Skills
            </a>

            <a
              href="#Experience"
              title=""
              class="py-2 text-base font-medium transition-all duration-200 text-white"
            >
              Experience
            </a>

            <a
              href="#Work"
              title=""
              class="py-2 text-base font-medium transition-all duration-200 text-white"
            >
              Work
            </a>
          </div>

          <hr class="my-4 border-blue-600" />

          <div class="flex flex-col space-y-2">
            <a
              href="#Contact"
              title=""
              class="py-2 text-base font-medium transition-all duration-200 text-blue-500"
            >
              Contact
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section class="py-10 bg-gray-900 lg:py-0">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div
        class="grid items-stretch grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-12 xl:gap-x-24"
      >
        <div class="h-fit pr-12 lg:order-2 lg:mb-40 lg:mt-24">
          <div class="relative h-full lg:h-auto">
            <div
              class="absolute w-full h-full -mb-12 overflow-hidden bg-gradient-to-r from-fuchsia-600 to-blue-600 top-12 left-12 xl:left-16 lg:top-24 lg:scale-y-105 lg:origin-top"
            >
              <img
                class="object-cover object-right w-full h-full scale-150"
                src="https://cdn.rareblocks.xyz/collection/celebration/images/content/2/lines.svg"
                alt=""
              />
            </div>
            <div class="relative lg:top-16">
              <img
                class="w-64 h-64 rounded-full mx-auto"
                src="../assets/dp-02.jpg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div
          class="flex items-center justify-start py-10 lg:order-1 sm:py-16 lg:py-24 xl:py-48"
        >
          <div>
            <h1
              class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
            >
              Hi, I am

              <span class="sm:block"> Shivansh Shekhar </span>
            </h1>
            <p class="text-xl leading-relaxed text-gray-200 mt-9">
              A technology enthusiast and A Software Engineer.
            </p>
            <p class="mt-6 text-xl leading-relaxed text-gray-200">
              I was introduced to C++ in high school and was mesmerized as I
              peeked behind the curtain of a computer screen. Now, after
              completing my Bachelors of Technology in Computer Science last
              year, I aim to build amazing stuff as well as my career in the
              field of computers.
            </p>
            <a
              class="inline-flex items-center justify-center mt-12 rounded-full w-fit p-4 border border-blue-600 px-12 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto transition-all duration-200"
              href="#Skills"
            >
              More About Me
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 px-8 pt-4 pb-16 bg-gray-900 text-white"
    id="Skills"
  >
    <div class="h-fit bg-gray-900">
      <a class="group relative block h-80 sm:h-80 lg:h-96">
        <span
          class="absolute inset-0 border-2 border-dashed border-blue-600"
        ></span>

        <div
          class="relative flex h-full transform items-end border-2 border-blue-600 bg-gray-900 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
        >
          <div
            class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-10 w-10 sm:h-12 sm:w-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 20.5H16M12 20.5H8M12 20.5V16.5M12 16.5C16 16.5 19.5 16.1667 20 15.8333C20.5 15.5 21 12.6667 21 10C21 7.33333 20.5 4.5 20 4.16667C19.5 3.83333 16 3.5 12 3.5C8 3.5 4.5 3.83333 4 4.16667C3.5 4.5 3 7.33333 3 10C3 12.6667 3.5 15.5 4 15.8333C4.5 16.1667 8 16.5 12 16.5Z"
              />
            </svg>

            <h3 class="mt-4 text-xl font-medium sm:text-2xl">Front-End</h3>
          </div>

          <div
            class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
          >
            <h3 class="mt-4 text-xl font-medium sm:text-2xl">Front-End</h3>

            <p class="mt-4 text-sm sm:text-base">
              I have made stuff using Vanilla
              <span class="text-blue-500 font-medium">HTML CSS JS</span>,
              <span class="text-blue-500 font-medium">Angular</span>,
              <span class="text-blue-500 font-medium">Tailwind CSS</span>,
              <span class="text-blue-500 font-medium">Flutter</span> and that
              one project in
              <span class="text-blue-500 font-medium">React</span>.
            </p>

            <p class="mt-4 text-sm sm:text-base">
              I have professional experience in
              <span class="text-blue-500 font-medium">Angular</span>,
              <span class="text-blue-500 font-medium">Tailwind CSS</span>,
              <span class="text-blue-500 font-medium">Flutter</span> and Vanilla
              <span class="text-blue-500 font-medium">HTML CSS JS</span>.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="h-fit bg-gray-900">
      <a class="group relative block h-80 sm:h-80 lg:h-96">
        <span
          class="absolute inset-0 border-2 border-dashed border-blue-600"
        ></span>

        <div
          class="relative flex h-full transform items-end border-2 border-blue-600 bg-gray-900 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
        >
          <div
            class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-10 w-10 sm:h-12 sm:w-12"
              fill="none"
              viewBox="0 0 20 20"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M8.5 9.5L11.5 12.5L8.5 15.5M13 15.5H17M5.5 6.5H19.5V18.5H5.5V6.5Z"
              />
            </svg>

            <h3 class="mt-4 text-xl font-medium sm:text-2xl">Back-End</h3>
          </div>

          <div
            class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
          >
            <h3 class="mt-4 text-xl font-medium sm:text-2xl">Back-End</h3>

            <p class="mt-4 text-sm sm:text-base">
              I specialize in
              <span class="text-blue-500 font-medium">Python</span> and
              <span class="text-blue-500 font-medium">Javascript</span> as well
              as core subjects such as
              <span class="text-blue-500 font-medium">DSA</span>,
              <span class="text-blue-500 font-medium">OOP</span>,
              <span class="text-blue-500 font-medium">DBMS</span>,
              <span class="text-blue-500 font-medium">System Design</span> etc.
            </p>

            <p class="mt-4 text-sm sm:text-base">
              I have made stuff using
              <span class="text-blue-500 font-medium">NodeJS</span>,
              <span class="text-blue-500 font-medium">ExpressJS</span>,
              <span class="text-blue-500 font-medium">Flask</span>,
              <span class="text-blue-500 font-medium">MongoDB</span>,
              <span class="text-blue-500 font-medium">Postgres</span>,
              <span class="text-blue-500 font-medium">Github</span> and
              <span class="text-blue-500 font-medium">Docker</span>.
            </p>

            <p class="mt-4 text-sm sm:text-base">
              I have professional experience in
              <span class="text-blue-500 font-medium">ExpressJS</span>,
              <span class="text-blue-500 font-medium">Flask</span>,
              <span class="text-blue-500 font-medium">MongoDB</span> and
              <span class="text-blue-500 font-medium">Appwrite</span>.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="h-fit bg-gray-900">
      <a class="group relative block h-80 sm:h-80 lg:h-96">
        <span
          class="absolute inset-0 border-2 border-dashed border-blue-600"
        ></span>

        <div
          class="relative flex h-full transform items-end border-2 border-blue-600 bg-gray-900 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
        >
          <div
            class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8"
          >
            <svg
              fill="white"
              viewBox="0 0 32 32"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title>salesforce</title>
                <path
                  d="M13.515 7.793c0.954-1.003 2.3-1.628 3.791-1.628 0.001 0 0.003 0 0.004 0h-0c1.971 0.026 3.681 1.116 4.585 2.721l0.014 0.027c0.749-0.354 1.627-0.561 2.553-0.561 0.023 0 0.045 0 0.067 0l-0.003-0c3.559 0.045 6.426 2.941 6.426 6.505 0 3.572-2.879 6.472-6.444 6.506l-0.003 0c-0.453-0.006-0.892-0.053-1.317-0.137l0.046 0.008c-0.81 1.459-2.342 2.43-4.1 2.43-0.004 0-0.009 0-0.013-0h0.001c-0.748-0.007-1.454-0.179-2.086-0.48l0.030 0.013c-0.84 1.943-2.74 3.278-4.952 3.278-2.304 0-4.269-1.448-5.036-3.484l-0.012-0.037c-0.279 0.061-0.599 0.096-0.927 0.096-0.035 0-0.071-0-0.106-0.001l0.005 0c-2.76-0.014-4.991-2.254-4.991-5.015 0-0.011 0-0.023 0-0.034v0.002c0-0.001 0-0.001 0-0.002 0-1.854 0.996-3.476 2.482-4.36l0.023-0.013c-0.307-0.674-0.486-1.461-0.486-2.29 0-0.004 0-0.008 0-0.011v0.001c0.003-3.199 2.596-5.792 5.795-5.795h0c0.006-0 0.014-0 0.021-0 1.867 0 3.531 0.872 4.605 2.231l0.009 0.012z"
                ></path>
              </g>
            </svg>

            <h3 class="mt-4 text-xl font-medium sm:text-2xl">CRM</h3>
          </div>

          <div
            class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
          >
            <h3 class="mt-4 text-xl font-medium sm:text-2xl">CRM</h3>

            <p class="mt-4 text-sm sm:text-base">
              Yup ... I also have considerable professional experience in the
              <span class="text-blue-500 font-medium">Salesforce</span>
              Ecosystem. Particularly, I am a certified
              <span class="text-blue-500 font-medium"
                >Salesforce Administrator</span
              >
              and I have worked on
              <span class="text-blue-500 font-medium">Apex</span> programming,
              <span class="text-blue-500 font-medium">LWC</span>s and
              <span class="text-blue-500 font-medium">Salesforce Flows</span>.
            </p>

            <p class="mt-4 text-sm sm:text-base">
              I regularly work as a freelancer with
              <a
                href="https://www.linkedin.com/in/jaspreet-singh-658a0b21a/"
                target="_blank"
                class="font-bold"
                >Jaspreet Singh</a
              >
              on
              <span class="text-blue-500 font-medium">Salesforce</span>
              Projects.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <section
    class="py-10 bg-gray-900 sm:py-5 lg:py-10 text-white m-0"
    id="Experience"
  >
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div class="max-w-2xl mx-auto text-center">
        <h2
          class="text-3xl font-bold leading-tight text-blue-500 sm:text-4xl lg:text-5xl"
        >
          Experience
        </h2>
        <p
          class="max-w-xl mx-auto mt-4 text-base leading-relaxed text-gray-600"
        >
          Organizations that I have worked with till date
        </p>
      </div>

      <div class="max-w-3xl mx-auto mt-8 space-y-4 md:mt-16">
        <div
          class="transition-all duration-200 bg-gray-900 border border-blue-600 shadow-lg hover:bg-gray-800 rounded-md"
        >
          <h3
            class="flex sm:justify-between sm:flex-row flex-col w-full px-2 py-5 sm:p-6"
          >
            <span class="flex text-lg font-semibold w-fit">
              Software Developer
            </span>
            <a
              href="https://mohesu.com"
              target="_blank"
              class="flex text-lg font-semibold text-blue-500 w-fit"
            >
              Mohesu Enterprises
            </a>
          </h3>

          <p
            class="flex items-center justify-between sm:px-6 sm:pb-3 px-2 pb-3 text-gray-500"
          >
            <span class="flex text-base"> November 2023 - </span>
          </p>

          <div class="px-2 pb-5 sm:px-6 sm:pb-6">
            <p>
              My responsibilities include designing and implementing user
              interfaces as well as server-side applications according to
              clients' requirements.
            </p>

            <p class="mt-2">
              I work with
              <span class="text-blue-500 font-medium">Angular</span>,
              <span class="text-blue-500 font-medium">Tailwind CSS</span>,
              <span class="text-blue-500 font-medium">Flutter</span>,
              <span class="text-blue-500 font-medium">Appwrite</span> (A BaaS
              service),
              <span class="text-blue-500 font-medium">ExpressJS</span> and
              <span class="text-blue-500 font-medium">Flask</span>.
            </p>
          </div>
        </div>
      </div>

      <div class="max-w-3xl mx-auto mt-8 space-y-4 md:mt-16">
        <div
          class="transition-all duration-200 bg-gray-900 border border-blue-600 shadow-lg hover:bg-gray-800 rounded-md"
        >
          <h3
            class="flex sm:justify-between sm:flex-row flex-col w-full px-2 py-5 sm:p-6"
          >
            <span class="flex text-lg font-semibold w-fit">
              Developer Intern
            </span>
            <a
              href="https://manras.com"
              target="_blank"
              class="flex text-lg font-semibold text-blue-500 w-fit"
            >
              Manras Technologies
            </a>
          </h3>

          <p
            class="flex items-center justify-between sm:px-6 sm:pb-3 px-2 pb-3 text-gray-500"
          >
            <span class="flex text-base"> March 2023 - May 2023</span>
          </p>

          <div class="px-2 pb-5 sm:px-6 sm:pb-6">
            <p>
              My training included Salesforce administration and Salesforce
              development. My responsibilities included (post-training) building
              functionalities in Apex and LWCs as per project requirements.
            </p>

            <p class="mt-2">
              I worked with
              <span class="text-blue-500 font-medium">Salesforce CRM</span>,
              <span class="text-blue-500 font-medium">Salesforce Apex</span>
              programming and
              <span class="text-blue-500 font-medium">HTML CSS JS</span>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-900 sm:pt-24 pt-12" id="Work">
    <h2
      class="sm:text-4xl lg:text-5xl text-3xl font-bold text-blue-500 text-center"
    >
      Featured
    </h2>
    <div
      class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
      *ngFor="let record of recordsF.documents"
    >
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div
          class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
        >
          <img
            alt="{{ record.Name }}"
            src="{{ record.Image }}"
            class="absolute inset-0 h-full w-full object-fill"
          />
        </div>

        <div class="lg:py-24">
          <h3
            class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent"
          >
            {{ record.Name }}
          </h3>

          <p class="mt-4 text-white">
            {{ record.Description }}
          </p>
          <a
            class="inline-flex items-center justify-center mt-12 rounded-md w-fit px-4 py-2 border border-blue-600 px-12 text-sm font-medium text-white hover:bg-gray-800 focus:outline-none focus:ring active:bg-gray-800 sm:w-auto transition-all duration-200"
            href="{{ record.URL }}"
          >
            URL
          </a>
          <div class="flex flex-wrap items-center px-0 py-4">
            <a
              *ngFor="let tag of record.Tags"
              class="bg-blue-600 rounded-md px-2 py-1 rounded text-m text-white mx-1 my-2"
            >
              {{ tag }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-900 text-white">
    <div
      class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
    >
      <div class="mx-auto max-w-lg text-center">
        <h2
          class="sm:text-4xl lg:text-5xl text-3xl font-bold text-blue-500 text-center"
        >
          Board
        </h2>

        <p class="mt-4 text-gray-300">
          Other stuff that I have worked on, or am working on right now
        </p>
      </div>

      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-blue-600/10 hover:shadow-blue-600/10"
          *ngFor="let record of recordsB.documents"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 text-blue-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"
            />
          </svg>

          <h3 class="mt-4 text-xl font-bold text-white">{{ record.Name }}</h3>

          <p class="mt-1 text-sm text-gray-300">
            {{ record.Description }}
          </p>
          <div class="flex flex-wrap items-center px-0 py-4">
            <a
              *ngFor="let tag of record.Tags"
              class="bg-blue-600 rounded-md px-2 py-1 rounded text-m text-white mx-1 my-2"
            >
              {{ tag }}
            </a>
          </div>
          <a
            class="inline-flex items-center justify-center rounded-md w-fit px-4 py-2 border border-blue-600 px-12 text-sm font-medium text-white hover:bg-gray-800 focus:outline-none focus:ring active:bg-gray-800 sm:w-auto transition-all duration-200"
            href="{{ record.URL }}"
          >
            URL
          </a>
        </a>
      </div>

      <div class="mt-12 text-center">
        <a
          href="https://github.com/shivanshshekhar11"
          target="_blank"
          class="inline-block rounded bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-600"
        >
          My Github
        </a>
      </div>
    </div>
  </section>

  <div class="sm:px-32 px-8 py-16 bg-gray-900 text-white mb-8">
    <h2
      class="sm:text-4xl lg:text-5xl text-3xl font-bold text-blue-500 text-center mb-8"
    >
      Additional
    </h2>
    <div class="space-y-8">
      <details class="group border-s-4 border-blue-600 bg-gray-900 p-6" open>
        <summary
          class="flex cursor-pointer items-center justify-between gap-1.5"
        >
          <h3 class="text-lg font-medium text-white">
            Algorithms Specialization Certification - Stanford Online
          </h3>
        </summary>

        <p class="mt-4 leading-relaxed text-white">
          Completed Algorithms Specialization from Stanford Online on Coursera
          with 90+ percentage.
        </p>
      </details>

      <details class="group border-s-4 border-blue-600 bg-gray-900 p-6" open>
        <summary
          class="flex cursor-pointer items-center justify-between gap-1.5"
        >
          <h3 class="text-lg font-medium text-white">Salesforce Certified</h3>
        </summary>

        <p class="mt-4 leading-relaxed text-white">
          Salesforce Certified Administrator since May 2023.
        </p>
      </details>

      <details class="group border-s-4 border-blue-600 bg-gray-900 p-6" open>
        <summary
          class="flex cursor-pointer items-center justify-between gap-1.5"
        >
          <h3 class="text-lg font-medium text-white">
            Runners Up at KU-thon (2022)
          </h3>
        </summary>

        <p class="mt-4 leading-relaxed text-white">
          Secured 2nd position in campus level hackathon organized in final
          year. My team's solution was Fema, a women safety and security tool.
        </p>
      </details>
    </div>
  </div>

  <footer class="bg-white lg:grid lg:grid-cols-5" id="Contact">
    <div class="relative block h-32 lg:col-span-2 lg:h-full">
      <img
        src="../assets/footer.jpg"
        alt=""
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>

    <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8 bg-gray-900">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
        <div>
          <p>
            <span class="text-xs uppercase tracking-wide text-gray-100">
              Email
            </span>

            <a
              href="mailto:shivanshshekhar11@gmail.com"
              class="block text-xl font-medium text-gray-100 hover:opacity-75"
            >
              shivanshshekhar11@gmail.com
            </a>
          </p>

          <ul class="mt-8 flex gap-6">
            <li>
              <a
                href="https://linkedin.com/in/shivanshshekhar11"
                rel="noreferrer"
                target="_blank"
                class="text-gray-100 transition hover:opacity-75"
              >
                <span class="sr-only">LinkedIn</span>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  viewBox="7.025 7.025 497.951 497.95"
                  id="linkedin"
                >
                  <linearGradient
                    id="a"
                    x1="-974.482"
                    x2="-622.378"
                    y1="1306.773"
                    y2="1658.877"
                    gradientTransform="translate(1054.43 -1226.825)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#2489be"></stop>
                    <stop offset="1" stop-color="#0575b3"></stop>
                  </linearGradient>
                  <path
                    fill="currentColor"
                    d="M256 7.025C118.494 7.025 7.025 118.494 7.025 256S118.494 504.975 256 504.975 504.976 393.506 504.976 256C504.975 118.494 393.504 7.025 256 7.025zm-66.427 369.343h-54.665V199.761h54.665v176.607zM161.98 176.633c-17.853 0-32.326-14.591-32.326-32.587 0-17.998 14.475-32.588 32.326-32.588s32.324 14.59 32.324 32.588c.001 17.997-14.472 32.587-32.324 32.587zm232.45 199.735h-54.4v-92.704c0-25.426-9.658-39.619-29.763-39.619-21.881 0-33.312 14.782-33.312 39.619v92.704h-52.43V199.761h52.43v23.786s15.771-29.173 53.219-29.173c37.449 0 64.257 22.866 64.257 70.169l-.001 111.825z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/shvnshbhrdwj14"
                rel="noreferrer"
                target="_blank"
                class="text-gray-100 transition hover:opacity-75"
              >
                <span class="sr-only">Twitter</span>

                <svg
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
                  />
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://github.com/shivanshshekhar11"
                rel="noreferrer"
                target="_blank"
                class="text-gray-100 transition hover:opacity-75"
              >
                <span class="sr-only">GitHub</span>

                <svg
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="sm:text-right">
          <div>
            <p class="font-medium text-gray-100">Send me a message</p>

            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a
                  href="https://linkedin.com/in/shivanshshekhar11"
                  target="_blank"
                  class="text-gray-100 transition hover:opacity-75"
                >
                  Website Design
                </a>
              </li>

              <li>
                <a
                  href="https://linkedin.com/in/shivanshshekhar11"
                  target="_blank"
                  class="text-gray-100 transition hover:opacity-75"
                >
                  Front-End Development
                </a>
              </li>

              <li>
                <a
                  href="https://linkedin.com/in/shivanshshekhar11"
                  target="_blank"
                  class="text-gray-100 transition hover:opacity-75"
                >
                  Server Side Development
                </a>
              </li>

              <li>
                <a
                  href="https://linkedin.com/in/shivanshshekhar11"
                  target="_blank"
                  class="text-gray-100 transition hover:opacity-75"
                >
                  Salesforce Development
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mt-12 border-t border-gray-100 pt-12">
        <div class="sm:flex sm:items-center sm:justify-between">
          <ul class="flex flex-wrap gap-4 text-xs">
            <li>
              <a
                href="https://github.com/shivanshshekhar11/portfolio"
                target="_blank"
                class="text-gray-200 transition hover:opacity-75"
              >
                Development
              </a>
            </li>
          </ul>

          <p class="mt-8 text-xs text-gray-200 sm:mt-0">
            &copy; 2024. Shivansh Shekhar. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
